.jugador {
    color: cyan;
}

#jugador1 {
    background-color: white;
}

#jugador2 {
    background-color: black;
}

.posicion1 {
    width: 10%;
    height: 50px;
    background-color: white;
}

.posicion2 {
    width: 10%;
    height: 50px;
    background-color: black;
}